body{
    background: black;
}

@mixin astro($dim, $color){
    width: $dim;
    height: $dim;
    border-radius: 50%;
    background: $color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 5s linear infinite;
}

#sol{
    @include astro(50px, yellow);
    animation: none;
}

#mercurio{
    @include astro(30px, gray);
    }

// TODO How to add parameters to @keyframes (@mixin @keyframes?)
@keyframes rotate {
    0%  { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    100% { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
