body{
    background: black;
}

@mixin astro($dim, $color){
    width: $dim;
    height: $dim;
    border-radius: 50%;
    background: $color;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate
}

#sol{
    @include astro(50px, yellow);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50);
    animation: rotate 1x lineacr infinite;
}

#mercurio{
    @include astro(50px, grey);
    transform: rotate 1s linear infinite;
    animation: rotate 1x lineacr infinite;
}

@keyframes rotate {
    0%, 100% {transform: rotate(0deg);}
    33% {transform: rotate(15deg);}
    66% {transform: rotate(-15deg);}
}
