body{
    background: black;
}

@mixin rotate ($radius, $period){
    @keyframes rotate{
        0%  { transform: rotate(0deg) translateX($radius) rotate(0deg); }
        100% { transform: rotate(360deg) translateX($radius) rotate(-360deg); }
    }

    animation: rotate $period linear infinite;
}

@mixin astro($dim, $radius, $period, $color){
    width: $dim;
    height: $dim;
    border-radius: 50%;
    background: $color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include rotate($radius, $period)
}

#sol{
    @include astro(50px, 0, 0, yellow);
}

#mercurio{
    @include astro(30px, 150px, 10s, gray);
    }

// TODO How to add parameters to @keyframes (@mixin @keyframes?)
